<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
        <bean id = "feedbackProvider" class = "company.myCompany.executable.FeedbackProvider">
    </bean>
    
    <bean id = "regularCustomer" class = "company.myCompany.executable.RegularCustomer">
    	<constructor-arg ref = "feedbackProvider" />   
    </bean>
    
    <bean id = "premiumCustomer" class = "company.myCompany.executable.PremiumCustomer">
    	<constructor-arg ref = "feedbackProvider" /> 
    </bean>
    
    <!--  setter injection -->
    <bean id = "upgradedCustomer" class = "company.myCompany.executable.UpgradedCustomer">
    	<property name = "service" ref = "feedbackProvider"></property>
    </bean>

    
</beans>





